<span class="text-3xl pr-2">{{ level?.Title ?? 'Unnamed Level' }}</span>
<span class="text-sm italic text-zinc-300">by {{ level?.Publisher?.Username }}</span><br>

<span class="text-sm italic text-zinc-300">Published {{ getMoment(level?.PublishDate ?? 0) }}</span>
<span class="text-sm italic text-zinc-300" *ngIf="level?.PublishDate != level?.UpdateDate">, updated {{ getMoment(level?.UpdateDate ?? 0) }}</span>

<br><br>

<p *ngIf="(level?.Description?.length ?? 0) > 0">{{level?.Description}}</p>
<p *ngIf="(level?.Description?.length ?? 0) === 0">No description was provided for this level.</p>