<h1 class="text-2xl">Welcome to Refresh!</h1>

<app-divider></app-divider>
<h1>test</h1>
<app-responsive-grid>
    <app-container>
        <span>Container</span>
        <img src="/assets/logo.svg">
    </app-container>
    <app-container>
        <span>Container</span>
        <img src="/assets/logo.svg">
    </app-container>
    <app-container>
        <span>Container</span>
        <img src="/assets/logo.svg">
    </app-container>
    <app-container>
        <span>Container</span>
        <img src="/assets/logo.svg">
    </app-container>
</app-responsive-grid>
