<div class="bg-hero rounded-md py-16 px-5 bg-cover drop-shadow-lg">
    <div class="text-5xl mb-2.5 font-black">
        <h1>{{this.instance?.instanceName ?? 'Refresh'}}</h1>
    </div>
    <p>{{this.instance?.instanceDescription ?? 'Loading...'}}</p>
</div>

<div *ngIf="instance && instance.announcements.length > 0" class="my-5 flex flex-col gap-y-2.5">
    <app-announcement *ngFor="let a of instance.announcements" [data]="a"></app-announcement>
</div>

<app-divider></app-divider>

<app-aside-layout>
    <ng-container left>
        <app-section-title>
            <fa-icon [icon]="faFireAlt"></fa-icon>
            What's new?
        </app-section-title>
        <div class="flex flex-col gap-y-2.5">
            <app-container>jvyden420 played a level or something</app-container>
            <app-container>jvyden420 played a level or something</app-container>
            <app-container>jvyden420 played a level or something</app-container>
            <app-container>jvyden420 played a level or something</app-container>
            <app-container>jvyden420 played a level or something</app-container>
        </div>
    </ng-container>
    <ng-container right>
        <app-section-title>
            <fa-icon [icon]="faGamepad"></fa-icon>
            Who's playing?
        </app-section-title>
        <ng-container *ngIf="this.rooms">
            <p *ngIf="this.rooms.length == 0">
                Nobody's playing right now.
            </p>
            <div class="flex flex-col gap-y-2.5">
                <app-room *ngFor="let room of this.rooms | slice:0:3; let i=index" [room]="room"></app-room>
            </div>
            <div class="mt-1.5">
                <app-router-link *ngIf="this.rooms.length > 3" routerLink="/rooms">See all {{rooms?.length}} rooms and {{playerCount()}} players</app-router-link>
            </div>
        </ng-container>
    </ng-container>
</app-aside-layout>
