@if (ownUser) {
    <div class="mb-4">
        <div class="flex flex-row gap-x-2">
            <div class="group flex justify-center items-center aspect-square my-2.5" >
                <app-user-avatar [user]="ownUser" [size]="(layout.isMobile | async) ? 100 : 176" avatar></app-user-avatar>
                <input type="file" (change)="avatarChanged($event).then()" class="hidden" id="pfpInput">
                @if(isMobile) {
                    <label for="pfpInput" class="flex rounded bg-[#000000aa] size-26 absolute justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity">
                        <fa-icon [icon]="faPencil" class="text-2xl"></fa-icon>
                    </label>
                }
                @else {
                    <label for="pfpInput" class="flex rounded bg-[#000000aa] size-44 absolute justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity">
                        <fa-icon [icon]="faPencil" class="text-4xl"></fa-icon>
                    </label>
                }
            </div>
            <div class="mx-4 my-4 gap-x-2">
                <app-page-title></app-page-title>
                @if (hasPendingChanges || !hasPendingChanges) {
                    <app-button text="Save Changes" [icon]="faFloppyDisk" [enabled]="hasPendingChanges" color="bg-primary" (click)="uploadChanges()"></app-button>
                }
            </div>
        </div>
        <app-textarea class="w-full" [icon]="faPencil" [form]="form" placeholder="Introduce yourself..." ctrlName="description" type="description" (change)="doesPageHavePendingChanges()"></app-textarea>
    </div>
    
    <app-two-pane-layout>
        <app-container class="w-full">
            <app-pane-title>
                <p>
                    Game Settings
                </p>
            </app-pane-title>
            <app-divider></app-divider>
            <div>
                <app-checkbox label="Redirect Grief Report Screen&shy;shots to Public Photos" [form]="form" ctrlName="griefToPhotos" (change)="doesPageHavePendingChanges()"></app-checkbox>
                <app-checkbox label="Show modded levels" [form]="form" ctrlName="showModded" (change)="doesPageHavePendingChanges()"></app-checkbox>
                <app-checkbox label="Show reuploaded levels" [form]="form" ctrlName="showReuploaded" (change)="doesPageHavePendingChanges()"></app-checkbox>
                <app-checkbox label="Unescape XML sequences" [form]="form" ctrlName="unescapeXml" (change)="doesPageHavePendingChanges()"></app-checkbox>
            </div>
        </app-container>
        <app-container class="w-full">
            <app-pane-title>
                <p>
                    Content Visibility (outside the game)
                </p>
            </app-pane-title>
            <p class="italic font-sm text-yellow">
                This setting is not enforced by the server yet, your content will stay visible to everyone
            </p>
            <app-divider></app-divider>
        </app-container>
    </app-two-pane-layout>
}