@if (level && ownUser && level.publisher?.userId != ownUser.userId && ownUser.role < 64)
{
  <p>You may not edit this level. Go away.</p>
}
@if (level && ownUser) {
  <div class="flex flex-row gap-x-2">
    <app-page-title></app-page-title>
    <p class="italic text-gentle content-center">(Level ID: <code>{{ level.levelId }}</code>)</p>
  </div>

  <div class="flex flex-col gap-x-10 gap-y-2.5">
    <div *ngIf="level" class="bg-header-background text-header-foreground p-5 rounded-md flex-grow">
      
      <div class="flex flex-row flex-grow flex-wrap gap-3.5">
        <div class="flex flex-col justify-start">
          <div class="group relative flex justify-center items-center aspect-rounded my-2.5" >
            <app-level-avatar [level]="level" [size]="(layout.isMobile | async) ? 100 : 176" avatar></app-level-avatar>
            <input type="file" (change)="uploadIcon($event).then()" class="hidden" id="pfpInput">
            <label for="pfpInput" class="flex rounded-full bg-[#000000aa] h-full w-full absolute justify-center items-center opacity-0 group-hover:opacity-80 transition-opacity">
              <fa-icon [icon]="faPencil" class="text-4xl"></fa-icon>
            </label>
          </div>
        </div>
        
        <div class="flex flex-col flex-grow gap-y-4">
          <app-textarea label="Title" [form]="settingsForm" placeholder="Unnamed Level" ctrlName="title" [icon]="faPencil" (change)="checkTitleChanges()"></app-textarea>
        </div>
      </div>

      <app-textarea class="pt-2" label="Description" [form]="settingsForm" placeholder="No description, yet..." ctrlName="description" [icon]="faPencil" (change)="checkDescriptionChanges()"></app-textarea>
    </div>
    
    <div class="flex flex-row justify-between gap-x-2">
      <app-button *ngIf="ownUser.userId == level.publisher?.userId || (ownUser?.role ?? 0) >= moderatorRoleValue" 
      [icon]="faFloppyDisk" text="DELETE level" color="bg-red" (click)="delete()"></app-button>
      <app-button [icon]="faFloppyDisk" text="Save changes" color="bg-primary" [enabled]="hasPendingChangesTotal" (click)="uploadChanges()"></app-button>
    </div>
  </div>

  <app-divider></app-divider>

  <div *ngIf="(ownUser?.role ?? 0) >= curatorRoleValue">
    <app-page-title title="Admin/Curator Settings"></app-page-title>
    <div class="flex flex-row justify-start">
      <p class="text-2xl mr-3 content-center">Game version:</p>
      <div class="flex flex-row justify-start content-center space-x-1 min-w-24 group relative">
        <app-button
          [text]="curatorForm.controls.gameVersion.getRawValue()! | game"
          [icon]="faChevronDown"
          [color]="gameButtonColor"
          (click)="gameButtonClick()">
        </app-button>
        <div class="absolute z-1 flex flex-col gap-y-1.5 w-64 px-5 py-2.5 rounded bg-header-background
          border-4 border-backdrop border-solid top-10 cursor-pointer"
          [ngClass]="showGameMenu ? '' : 'hidden'">
          <div>
            <app-radio-button [label]="0 | game" [form]="curatorForm" ctrlName="gameVersion" id="g0" [value]='0' (click)="setGame(0)"></app-radio-button>
            <app-radio-button [label]="1 | game" [form]="curatorForm" ctrlName="gameVersion" id="g1" [value]='1' (click)="setGame(1)"></app-radio-button>
            <app-radio-button [label]="2 | game" [form]="curatorForm" ctrlName="gameVersion" id="g2" [value]='2' (click)="setGame(2)"></app-radio-button>
            <app-radio-button [label]="3 | game" [form]="curatorForm" ctrlName="gameVersion" id="g3" [value]='3' (click)="setGame(3)"></app-radio-button>
            <app-radio-button [label]="4 | game" [form]="curatorForm" ctrlName="gameVersion" id="g4" [value]='4' (click)="setGame(4)"></app-radio-button>
            <!-- 5 = Website, which is invalid -->
            <app-radio-button [label]="6 | game" [form]="curatorForm" ctrlName="gameVersion" id="g6" [value]='6' (click)="setGame(6)"></app-radio-button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col py-4 w-96 max-lg:w-auto gap-y-2.5">
      <div>
        <div class="flex flex-row content-center gap-x-4">
          <app-checkbox label="Team Picked" [form]="curatorForm"  ctrlName="isTeamPicked" [icon]="faCertificate" (change)="checkTeamPickChanges()"></app-checkbox>
          <p *ngIf="level.teamPicked" class="italic text-gentle text-sm font-sm text-grey content-center">
            since <app-date [date]="level.dateTeamPicked"></app-date>
          </p>
        </div>
        <app-checkbox label="Mark as re-upload" [form]="curatorForm" ctrlName="isReupload" [icon]="faClone" (change)="checkIsReuploadChanges()"></app-checkbox>
      </div>

      <app-textbox label="Original Publisher" [form]="curatorForm" placeholder="greek-player_50" ctrlName="originalPublisher" [icon]="faUser" (change)="checkOriginalPublisherChanges()"></app-textbox>
    
      
    </div>
  </div>
}
