@if (ownUser) {
  <app-page-title></app-page-title>
  <p>Hi, {{ ownUser.username }}! This is where you manage and view information about {{instance?.instanceName ?? 'this Refresh server'}}.</p>
  <br>

  <app-two-pane-layout>
    <app-container class="w-full">
      <app-pane-title>
        <a routerLink='/instance'>
          Instance
        </a>
      </app-pane-title>
      <app-divider></app-divider>
      <div>
        @if(instance != null) {
          <p>Software: <span class="italic">{{instance.softwareName}} ({{instance.softwareType}})</span></p>
          <p>Version: <span class="word-wrap-and-break italic">v{{instance.softwareVersion}}</span></p>
          <br>
          <p>Blocked assets for regular users: <span class="italic">{{ blockedAssetFlags }}</span></p>
          <p>Blocked assets for trusted users: <span class="italic">{{ blockedAssetFlagsForTrustedUsers }}</span></p>
        }
        @else if (instanceDownloadFailed) {
          <p>Failed to download instance metadata.</p>
        }
        @else {
          <p>Downloading instance metadata...</p>
        }
      </div>
    </app-container>
    <app-container class="w-full">
      <app-pane-title>
        <a routerLink='/instance'>
          Statistics
        </a>
      </app-pane-title>
      <app-divider></app-divider>
      <div>
        @if(statistics != null) {
          <p><a class="text-link hover:text-link-hover hover:underline" routerLink="/users">Registered users: {{statistics.totalUsers}}</a></p>
          <p><a class="text-link hover:text-link-hover hover:underline" routerLink="/levels">Published levels: {{statistics.totalLevels}}</a></p>
          <p><a class="text-link hover:text-link-hover hover:underline" routerLink="/photos">Uploaded photos: {{statistics.totalPhotos}}</a></p>
          <p><a class="text-link hover:text-link-hover hover:underline" routerLink="/activity">Events occurred: {{statistics.totalEvents}}</a></p>
          <br>
          <p>Active users: {{statistics.activeUsers}}</p>
          <p>People online now: {{statistics.currentIngamePlayersCount}}</p>
          <p><a class="text-link hover:text-link-hover hover:underline" routerLink="/rooms">Active rooms: {{statistics.currentRoomCount}}</a></p>
        }
        @else if (statisticsDownloadFailed) {
          <p>Failed to download instance statistics.</p>
        }
        @else {
          <p>Downloading instance statistics...</p>
        }
      </div>
    </app-container>
  </app-two-pane-layout>

  <app-divider></app-divider>

  <p class="text-3xl font-bold pb-2">Announcements</p>
  <div class="flex flex-row  justify-between gap-10">
    <div class="w-full">
      <p class="text-xl font-bold pb-2.5">Create</p>
      <form class="flex flex-col gap-y-1">
        <app-textbox label="Title" placeholder="Hey Everyone!" [icon]="faBullhorn" [form]="announcementForm" ctrlName="title" (change)="checkAnnouncementTitleChanges()"></app-textbox>
        <app-textarea label="Text" placeholder="We will now... yeah, make sure you..." [icon]="faPencil" [form]="announcementForm" ctrlName="text" (change)="checkAnnouncementTextChanges()"></app-textarea>

        <app-button [enabled]="isAnnouncementComplete" color="bg-primary" [icon]="faPaperPlane" text="Publish" (click)="postAnnouncement()" class="w-[19rem] text-center my-1.5"></app-button>
      </form>
    </div>
    <div class="w-full">
      <p class="text-xl font-bold pb-2.5">Preview</p>
      <app-announcement [data]="previewAnnouncement"></app-announcement>
      <app-divider></app-divider>
      <p class="text-xl font-bold">Live Announcements</p>
      @if (instance == null && instanceDownloadFailed) {
        <p>Couldn't get announcements, because we couldn't get instance data.</p>
      }
      @else if (instance == null && !instanceDownloadFailed) {
        <p>Loading instance data...</p>
      }
      @else if (instance!.announcements.length <= 0) {
        <p>There are no current announcements.</p>
      }
      @else {
        <div class="my-5 flex flex-col gap-y-2.5">
          @for (announcement of instance!.announcements; track announcement.announcementId) {
            <app-announcement [data]="announcement" [showDeleteButton]="true" (deleted)="removeAnnouncement(announcement.announcementId)"></app-announcement>
          }
        </div>
      }
    </div>
  </div>

  @if (this.grafanaSafeUrl != null) {
    <div>
      <app-divider></app-divider>
      <iframe [src]="grafanaSafeUrl" class="min-w-full h-[768px]"></iframe>
    </div>
  }
  

  <!-- should always be last section -->
  <app-divider></app-divider>
  <p class="text-xl font-bold pb-2.5">Other Actions</p>
  <p>To manage users, levels, and other data, you can access administrative actions on their respective pages, usually on the page headers.</p>
}