@if (level) {
  <app-container-header>
    <div class="flex flex-col gap-y-2 pb-4">
      <div class="flex flex-row flex-wrap gap-x-3 align-center">
        <app-page-title [title]="level.isAdventure? 'Total Leaderboard for adventure' : 'Leaderboard for level'"></app-page-title>
        <app-level-link class="content-center" [level]="level"></app-level-link>
      </div>

      <div class="flex flex-row flex-wrap gap-x-3">
        <p class="text-2xl">Player mode:</p>
        <app-dropdown-menu [showMenu]="showFilterMenu" offsets="top-9 -left-5" [width]="64">
          <app-button trigger
            width="flex flex-shrink justify-evenly flex-grow w-48 text-nowrap"
            [text]="filterForm.controls.scoreType.getRawValue()! | scoreType"
            [icon]="showFilterMenu ? faChevronUp : faChevronDown"
            color="bg-secondary"
            (click)="scoreTypeButtonClick()">
          </app-button>
          <div content>
            <app-radio-button [label]="0 | scoreType" [form]="filterForm" ctrlName="scoreType" id="t0" [value]='0' (click)="setScoreType(0)"></app-radio-button>
            <app-radio-button [label]="1 | scoreType" [form]="filterForm" ctrlName="scoreType" id="t1" [value]='1' (click)="setScoreType(1)"></app-radio-button>
            <app-radio-button [label]="2 | scoreType" [form]="filterForm" ctrlName="scoreType" id="t2" [value]='2' (click)="setScoreType(2)"></app-radio-button>
            <app-radio-button [label]="3 | scoreType" [form]="filterForm" ctrlName="scoreType" id="t3" [value]='3' (click)="setScoreType(3)"></app-radio-button>
            <app-radio-button [label]="4 | scoreType" [form]="filterForm" ctrlName="scoreType" id="t4" [value]='4' (click)="setScoreType(4)"></app-radio-button>
          </div>
        </app-dropdown-menu>
      </div>
    </div>
  </app-container-header>

  @if (!isLoading && scores.length === 0) {
    <p>No scores in this player mode yet... Go for it!</p>
  }
  @for (score of scores; track score.scoreId; let i = $index) {
    <app-score-preview [score]="score" (deleted)="removeScore(i)"></app-score-preview>
  }
  @if (isLoading) {
    <p>Loading scores...</p>
  }
  <app-infinite-scroller [isLoading]="this.isLoading" [listInfo]="this.listInfo" (loadData)="loadData()"></app-infinite-scroller>
}