<ng-container *ngIf="category">
    <app-page-title [title]="category.name" [icon]="category.fontAwesomeIcon"></app-page-title>
    <p>{{category.description}}</p>
    <app-responsive-grid *ngIf="levels">
        <app-container *ngFor="let level of this.levels">
            <app-level-preview [level]="level"></app-level-preview>
        </app-container>
    </app-responsive-grid>
</ng-container>

<ng-container *ngIf="category == null">
    <app-page-title title="Category Not Found"></app-page-title>
    <p>
        We couldn't find that category.
        Try checking the URL, or pick another category to get your bearings.
    </p>
    <p>
        Otherwise, it may be missing or unavailable temporarily.
    </p>
</ng-container>
