<page-header class="text-3xl capitalize" title="/api/v3/levels/{{routeName}}">{{routeName}} Levels</page-header>

<div *ngIf="levels">
  <p>There are {{total}} levels in this category.</p>
  <ngx-masonry [options]="masonryOptions" [ordered]="true">
    <div ngxMasonryItem *ngFor="let l of levels" class="bg-form-background p-2.5 rounded-[11px] masonry-grid-item">
      <level-preview [level]="l" [description]="true"></level-preview>
    </div>
  </ngx-masonry>
  <div intersectionObserver (visibilityChange)="loadNextPage($event)"></div>

  <secondary-button (click)="loadNextPage(true)" text="Load more" *ngIf="nextPageIndex > 0"></secondary-button>
</div>

<div *ngIf="!levels">
  <div class="inline-block h-5 w-56 bg-secondary rounded-full pt-2.5 animate-pulse"></div>
  <ngx-masonry [options]="masonryOptions" [ordered]="true">
    <div ngxMasonryItem *ngFor="let i of GenerateEmptyList(10)"
         class="bg-form-background p-2.5 rounded-[11px] masonry-grid-item">
      <level-preview [level]="" [description]="true"></level-preview>
    </div>
  </ngx-masonry>
</div>
