<div *ngIf="_level">
  <div class="flex items-center gap-x-2">
    <div>
      <img src="{{GetAssetImageLink(_level.iconHash)}}" class="rounded-full h-20 w-auto object-cover aspect-square" alt="{{_level.title}}">
    </div>
    <div>
      <a [routerLink]="'/level/' + _level.levelId" class="text-xl font-medium" *ngIf="_level.title.length > 0">{{_level.title}}</a>
      <a [routerLink]="'/level/' + _level.levelId" class="text-xl font-medium" *ngIf="_level.title.length <= 0">Unnamed Level</a>
      <p-gentle>by <user-link [user]="_level.publisher" class="pl-0.5"></user-link></p-gentle>
      <p-gentle>Published {{getMoment(_level.publishDate)}}</p-gentle>
    </div>
  </div>

  <div *ngIf="_description && _level.description.length > 0">
    <divider></divider>
    <p>{{_level.description}}</p>
  </div>
</div>
