<page-header class="text-3xl">Admin Panel</page-header>

<divider></divider>

<p class="text-2xl font-bold pb-2.5">Announcements</p>
<div class="flex gap-10">
  <div class="w-[19rem]">
    <p class="text-xl font-bold pb-2.5">Create</p>
    <form-input name="Title" [icon]="faBullhorn" [id]="announcementTitleId" (keyup)="updateAnnouncementPreview()"></form-input>
    <form-input name="Body" [icon]="faPencil" [id]="announcementBodyId" (keyup)="updateAnnouncementPreview()"></form-input>

    <primary-button text="Publish" (click)="postAnnouncement()" class="w-[19rem] text-center"></primary-button>
  </div>
  <div class="w-full">
    <p class="text-xl font-bold">Preview</p>
    <announcement [title]="previewAnnouncement.title" [body]="previewAnnouncement.text"></announcement>
    <divider></divider>
    <p class="text-xl font-bold">Live Announcements</p>
    <p-gentle *ngIf="instance?.announcements?.length === 0">There doesn't seem to be anything here.</p-gentle>

    <div class="flex flex-col gap-2.5">
      <announcement *ngFor="let announcement of instance?.announcements" [title]="announcement.title" [body]="announcement.text"
                    [removable]="true" (removeEvent)="removeAnnouncement(announcement)"></announcement>
    </div>
  </div>
</div>
