@if (ownUser && targetUser) {
    <div class="flex flex-col">
        <div class="flex flex-col gap-y-2 mb-4">
            <div class="mx-4 my-4 flex flex-col gap-y-2">
                <app-page-title class=""></app-page-title>
                <p class="text-gentle content-center">{{ targetUser.username }} <span class="italic">(Role: {{ targetUser.role | role }}, UUID: <code>{{ targetUser.userId }}</code>)</span></p>
                <app-button text="Save Changes" [icon]="faFloppyDisk" [enabled]="hasPendingChanges" color="bg-primary" (click)="uploadChanges()"></app-button>
            </div>
            <div class="flex flex-row flex-wrap justify-evenly gap-x-2">
                <div class="flex flex-col justify-center items-center aspect-square my-2.5" >
                    <p class="font-bold">Mainline icon</p>
                    @if (targetUser.iconHash === "0") {
                        <p class="italic">No icon</p>
                    }
                    @else {
                        <app-user-avatar-general [iconHash]="targetUser.iconHash" [size]="(layout.isMobile | async) ? 100 : 176" avatar></app-user-avatar-general>
                    }
                    <app-checkbox label="Reset" [form]="metadataForm" ctrlName="resetIcon" (change)="checkResetIcon()"></app-checkbox>
                </div>

                <div class="flex flex-col justify-center items-center aspect-square my-2.5" >
                    <p class="font-bold">Vita icon</p>
                    @if (targetUser.vitaIconHash === "0") {
                        <p class="italic">No icon</p>
                    }
                    @else {
                        <app-user-avatar-general [iconHash]="targetUser.vitaIconHash" [size]="(layout.isMobile | async) ? 100 : 176" avatar></app-user-avatar-general>
                    }
                    <app-checkbox label="Reset" [form]="metadataForm" ctrlName="resetVitaIcon" (change)="checkResetVitaIcon()"></app-checkbox>
                </div>

                <div class="flex flex-col justify-center items-center aspect-square my-2.5" >
                    <p class="font-bold">Beta icon</p>
                    @if (targetUser.betaIconHash === "0") {
                        <p class="italic">No icon</p>
                    }
                    @else {
                        <app-user-avatar-general [iconHash]="targetUser.betaIconHash" [size]="(layout.isMobile | async) ? 100 : 176" avatar></app-user-avatar-general>
                    }
                    
                    <app-checkbox label="Reset" [form]="metadataForm" ctrlName="resetBetaIcon" (change)="checkResetBetaIcon()"></app-checkbox>
                </div>
            </div>

            <app-textbox label="Username" [showMaxLength]="true" [maxLength]="16" [form]="metadataForm" 
                placeholder="greek-player_50" ctrlName="username" [icon]="faUser" (change)="checkUsernameChanges()"></app-textbox>

            <app-textarea class="w-full py-4" [icon]="faPencil" [form]="metadataForm" placeholder="Change this user's description..." 
                ctrlName="description" type="description" (change)="checkDescriptionChanges()" [maxLength]="512" [showMaxLength]="true"></app-textarea>
            
            @if (ownUser.role < moderatorValue) {
                <p>You don't have perms to update this user's role</p>
            }
            @else if (targetUser.role < userValue) {
                <p>This user's role cannot be updated this way due to their current role: {{ targetUser.role | role }}</p>
            }
            @else {
                <div class="flex flex-row flex-wrap gap-x-4">
                    <p class="text-2xl content-center">Role:</p>
                    <app-dropdown-menu [showMenu]="showRoleMenu" offsets="top-9 " [width]="32">
                        <app-button trigger
                            width="flex flex-shrink justify-evenly flex-grow w-48 text-nowrap"
                            [text]="metadataForm.controls.role.getRawValue()! | role"
                            [icon]="showRoleMenu ? faChevronUp : faChevronDown"
                            color="bg-primary"
                            (click)="roleDropdownButtonClick()">
                        </app-button>
                        <div class="" content>
                            <app-radio-button label="Admin" [form]="metadataForm" ctrlName="role" id="r0" [value]='adminValue' (click)="setRole(adminValue)"></app-radio-button>
                            <app-radio-button label="Moderator" [form]="metadataForm" ctrlName="role" id="r1" [value]='moderatorValue' (click)="setRole(moderatorValue)"></app-radio-button>
                            <app-radio-button label="Curator" [form]="metadataForm" ctrlName="role" id="r2" [value]='curatorValue' (click)="setRole(curatorValue)"></app-radio-button>
                            <app-radio-button label="Trusted" [form]="metadataForm" ctrlName="role" id="r3" [value]='trustedValue' (click)="setRole(trustedValue)"></app-radio-button>
                            <app-radio-button label="User" [form]="metadataForm" ctrlName="role" id="r4" [value]='userValue' (click)="setRole(userValue)"></app-radio-button>
                            <!-- all roles below cannot be set this way -->
                        </div>
                    </app-dropdown-menu>
                </div>
                
            }
        </div>
        <app-two-pane-layout>
            <app-container class="w-full">
                <app-pane-title>
                    <p>
                        Planets
                    </p>
                </app-pane-title>
                <app-divider></app-divider>
                <div>
                    TODO
                </div>
            </app-container>
            <app-container class="w-full">
                <app-pane-title>
                    <p>
                        Punish
                    </p>
                </app-pane-title>
                <app-divider></app-divider>
                <div>
                    TODO
                </div>
            </app-container>
        </app-two-pane-layout>
    </div>    
}