<page-header class="text-3xl">Profile Settings</page-header>

<primary-button class="w-48 inline-block text-center pr-2.5" [icon]="faKey" text="Authentication" routerLink="/authentication"></primary-button>
<secondary-button class="w-64 inline-block text-center" [icon]="faKey" text="Verify Email Address" routerLink="/verify"></secondary-button>

<divider></divider>

<form-checkbox [icon]="faKey" name="Allow IP Authentication" [id]="allowIpId"></form-checkbox>
<form-checkbox [icon]="faGamepad" name="Allow PS3/Vita Authentication" [id]="allowPsnId"></form-checkbox>
<form-checkbox [icon]="faDesktop" name="Allow RPCS3 Authentication" [id]="allowRpcnId"></form-checkbox>
<form-input [icon]="faPencil" name="Biography" [id]="descriptionId"></form-input>

<div class="w-44 text-center inline-block pr-2.5">
  <primary-button text="Save changes" (click)="saveChanges()"></primary-button>
</div>

<div class="w-28 text-center inline-block pr-2.5">
  <secondary-button text="Cancel" onclick="window.history.back()"></secondary-button>
</div>

<div class="w-28 text-center inline-block pr-2.5">
  <dangerous-button text="Log out" routerLink="/logout"></dangerous-button>
</div>
