<form-holder>
    <h2 class="text-3xl">Password Reset</h2>
    <div class="h-5"></div>

    <form-input [icon]="faEnvelope" name="Email Address" type="text" [id]="emailId" [value]="emailParam"></form-input>
    <form-input [icon]="'key'" name="Password" type="password" [id]="passwordId"></form-input>
    <form-input [icon]="'key'" name="Confirm Password" type="password" [id]="confirmPasswordId"></form-input>

    <div class="flex flex-row my-1 justify-between space-x-4">
        <primary-button class="w-full" text="Reset password" (click)="reset()"></primary-button>
        <secondary-button class="min-w-fit" text="Cancel" onclick="window.history.back()"></secondary-button>
    </div>
</form-holder>
