<div class="text-left mb-2.5">
    <div *ngIf="showLabel" class="text-xs pb-1">
        <fa-icon [icon]="_icon" class="pr-1"></fa-icon>
        <span>{{_name}}</span>
    </div>

    <input [type]="_type" class="bg-slate-700 text-zinc-100 rounded-md p-1 px-2 w-72 read-only:bg-slate-900" [placeholder]="_name" [id]="_id" [readOnly]="_readonly" [value]="_value">

    <div *ngIf="isDev && _id === undefined">
        <div class="text-xs pb-1 text-yellow-500">
            <fa-icon [icon]="'warning'" class="pr-1"></fa-icon>
            <span>Dev: The above input does not have an ID set.</span>
        </div>
    </div>
</div>