<app-page-title></app-page-title>
@if (rooms.length > 0) {
  <p>
    There's currently
    {{'player' | plural: playerCount()}}
    online across
    {{'room' | plural: rooms.length}}.
  </p>
}
@if (rooms.length <= 0) {
  <p>Nobody's online right now. Come play!</p>
}

<div class="flex flex-col gap-y-2.5">
  @for (version of getGameVersions(); track version) {
    <app-container>
      <app-container-title>Rooms for {{version | game}}</app-container-title>
      <div class="flex flex-col gap-y-1.5">
        @for (room of getRoomsForGame(version); track room) {
          <app-dark-container>
            <app-room [room]="room" [showGame]="false"></app-room>
          </app-dark-container>
        }
      </div>
    </app-container>
  }
</div>
