<form-holder>
    <page-header class="text-3xl">Sign into Refresh</page-header>
    <div class="h-5"></div>

    <form-input [icon]="faEnvelope" name="Email Address" type="email" [id]="emailId"></form-input>
    <form-input [icon]="'key'" name="Password" type="password" [id]="passwordId"></form-input>

    <div class="flex flex-row my-1 justify-between space-x-4">
        <primary-button class="min-w-fit" text="Sign in" (click)="login()"></primary-button>
        <secondary-button class="w-full" text="Forgot password?" routerLink="/forgotPassword"></secondary-button>
    </div>

    <divider class="w-full"></divider>

    <p class="pb-2">Haven't signed up yet?</p>

    <secondary-button text="Create an account" routerLink="/register"></secondary-button>
</form-holder>
