<div class="bg-header-background border-b-backdrop border-b-2 h-[59px] flex items-center flex-col">
  <div class="container items-center flex h-[59px]">
    <div class="flex mr-2.5">
      <a class="bg-logo bg-cover cursor-pointer w-12 h-12" routerLink="/" title="Home"></a>
      <div class="mx-3 w-[3px] rounded-sm bg-divider"></div>
    </div>

    <nav class="text-foreground text-xl leading-none">
      <a *ngFor="let link of routerLinks" class="pr-8 inline-block" routerLink="{{link.link}}">
        <fa-icon [icon]="link.icon" class="inline-block"></fa-icon>
        <span *ngIf="link.title.length > 0" class="pl-2.5 inline-block">{{link.title}}</span>
      </a>
    </nav>

    <div class="ml-auto flex-shrink text-xl leading-none">
      <a *ngFor="let link of rightSideRouterLinks" class="pl-8 inline-block" routerLink="{{link.link}}">
        <fa-icon [icon]="link.icon" class="inline-block"></fa-icon>
        <span *ngIf="link.title.length > 0" class="pl-2.5 inline-block">{{link.title}}</span>
      </a>
    </div>

    <a routerLink="/user/me" class="flex-shrink" *ngIf="user">
      <user-avatar [user]="user!" size="h-11 w-auto" class="ml-8"></user-avatar>
    </a>

    <button (click)="toggleLogin()" class="flex-shrink text-2xl leading-none font-extralight" *ngIf="!user">
      <fa-icon [icon]="faSignIn" class="inline-block"></fa-icon>
    </button>

    <div class="absolute top-0 right-0 h-0 mr-5 mt-16 z-50" #login [hidden]="true">
      <app-login></app-login>
    </div>
  </div>
</div>

<app-banner *ngIf="instance?.maintenanceModeEnabled && user?.role !== UserRoles.Admin" title="Maintenance mode"
  text="The server is currently in maintenance mode, meaning only administrators can use the website right now.
  Check back later."
  color="warning" [icon]="faExclamationTriangle" [id]="-1"></app-banner>

<app-banner *ngIf="user?.role == UserRoles.Restricted" title="You are restricted!"
  text="Your account is currently in restricted mode. You can still play, but you won't be able to publish levels,
  post comments, or otherwise interact with the community. For more information, please contact an administrator."
  color="dangerous" [icon]="faExclamationTriangle" [id]="-1"></app-banner>

<app-banner *ngIf="user !== undefined && user?.emailAddress === undefined" title="Add an email address"
  text="Your account is missing an email address. Please add one in settings, or you may not be able to log in again."
  color="dangerous" [icon]="faExclamationTriangle"></app-banner>

<app-banner *ngIf="user !== undefined && !user?.emailAddressVerified" title="Verify your email address"
  text="Your account's email address is not verified. Please check your email for a verification code, and verify it in settings.
  If you do not see an email verification code, try resending the email or checking your spam folder."
  color="warning" [icon]="faExclamationTriangle"></app-banner>

<app-banner *ngFor="let n of bannerService.banners"
            [title]="n.Title" [text]="n.Text" [color]="n.Color" [icon]="n.Icon"
            [id]="bannerService.banners.indexOf(n)"
/>

<div class="container mx-auto bg-backdrop p-5 grid min-h-full h-full"
     [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
