<div class="p-5 pb-2 pt-2 bg-header-background border-b-backdrop border-b-2">
    <nav class="text-indigo-400 text-lg">
        <a *ngFor="let link of routerLinks" class="hover:text-indigo-300 pr-5" routerLink="{{link.link}}">
            <fa-icon [icon]="link.icon" class="pr-1"></fa-icon>
            <span>{{link.title}}</span>
        </a>

        <div class="float-right">
            <a *ngFor="let link of rightSideRouterLinks" class="hover:text-indigo-400 pl-5" routerLink="{{link.link}}">
                <fa-icon [icon]="link.icon" class="pr-1"></fa-icon>
                <span>{{link.title}}</span>
            </a>
        </div>
    </nav>
</div>

<app-notification *ngFor="let n of notifs.notifications" 
    [title]="n.Title" [text]="n.Text" [color]="n.Color" [icon]="n.Icon" 
    [id]="notifs.notifications.indexOf(n)"
/>

<div class="container mx-auto bg-backdrop p-5 rounded-md rounded-t-none grid" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</div>