<div class="text-left mb-2.5">
    <select class="bg-teritary text-foreground px-5 py-2 rounded-[11px] w-[19rem]" [id]="_id">
        <option [value]="option.Value" *ngFor="let option of this._options">{{option.Name}}</option>
    </select>

    <div *ngIf="isDev && _id === undefined">
        <div class="text-xs pb-1 text-yellow-500">
            <fa-icon [icon]="'warning'" class="pr-1"></fa-icon>
            <span>Dev: The above input does not have an ID set.</span>
        </div>
    </div>
</div>