<div class="text-center bg-form-background md:rounded-md py-5">
    <page-header class="text-4xl">Welcome to Refresh!</page-header>

    <div *ngIf="apiClient.user !== undefined">
        <p>Hi, <b>{{apiClient.user.Username}}</b>! You currently have <b>2</b> notifications.</p>
        <p>There have been <b>12</b> levels uploaded since you last visited.</p>
    </div>

    <p>There are currently <b>{{statistics?.CurrentIngamePlayersCount ?? 0}}</b> players online across <b>{{statistics?.CurrentRoomCount ?? 0}} rooms.</b></p>
</div>