<app-page-title></app-page-title>

<app-form [form]="form" (submit)="submit()">
    <app-textbox [icon]="faEnvelope" [form]="form" placeholder="sackboy@lbp.me" ctrlName="emailAddress" label="Email Address" type="email"></app-textbox>
    <app-textbox [icon]="faKey" [form]="form" placeholder="Your very secure password" ctrlName="password" label="Password" type="password"></app-textbox>

    <ng-container buttons>
        <app-button-submit-form [form]="form" action="Log In"></app-button-submit-form>
    </ng-container>
</app-form>
