<page-header class="text-3xl">Manage {{level?.title}} (by <user-link [user]="level?.publisher!"></user-link>)</page-header>
<p>(id: <code>{{level?.levelId}}</code>)</p>

<divider></divider>
<page-header class="text-2xl">Team Pick</page-header>

<div class="w-[22rem]">
  <form-checkbox [icon]="faCertificate" name="Team Pick?" [(value)]="teamPicked"></form-checkbox>
  <div class="flex gap-x-2.5">
    <primary-button [icon]="faCheck" text="Submit changes" (click)="submit()"></primary-button>
    <dangerous-button [icon]="faTrash" text="Delete level" (click)="delete()"></dangerous-button>
  </div>
</div>
