<page-header class="text-3xl">Photos</page-header>

<ngx-masonry [options]="masonryOptions" [ordered]="true" *ngIf="photos">
  <div ngxMasonryItem *ngFor="let photo of photos" class="rounded-md bg-form-background m-1 p-2.5 masonry-grid-item">
    <photo [photo]="photo"></photo>
  </div>
</ngx-masonry>

<ngx-masonry [options]="masonryOptions" [ordered]="true" *ngIf="!photos">
  <div ngxMasonryItem *ngFor="let i of GenerateEmptyList(20)" class="rounded-md bg-form-background m-1 p-2.5 masonry-grid-item">
    <photo [photo]=""></photo>
  </div>
</ngx-masonry>
