name: Build

on:
  push:
    branches: [ "legacy" ]
  pull_request:
    branches: [ "legacy" ]

jobs:
  build:
    name: Build, and Upload Builds
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install packages
      run: npm install

    - name: Build
      run: npx ng build

    - name: Upload production build of website
      uses: actions/upload-artifact@v4
      with:
          name: "Refresh Website"
          path: "dist/refresh-web/browser"
          if-no-files-found: error
          retention-days: 30
